{{>head}}
{{> navbar}}

   <div class="row">
       <div class="col-8">
            <h1>Cataratas del Niagara</h1>
       </div>
       <div class="col-4">
           <img src="acses/img/cataratas.jpg" class="img-thumbnail">
       </div>

   </div>

{{> footer}}